// Brand colours
$brand-green: #BDFFC2;
$brand-blue: #3535A5;
$brand-dark-blue: #2d2d8c;
$brand-dark-blue-2: #0F0F2F;
$brand-light-blue: #E1E1F2;

//Normal colours
$black: #2d2d2d;
$med-grey: #dddddd;
$light-grey: #ededed;
$white: #ffffff;

//Font weights
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

// For fluid typography
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;
