h1, h2, h3, h4,
p, a, span {
    font-family: "Source Code Pro", monospace;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h1 {
    @include fluid-type(320px, 1200px, 28px, 42px);
    margin: 0 0 30px 0;
}

p {
    margin-bottom: 30px;
}
